{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "semi": false,
    "bracketSpacing": false,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "bracketSameLine": true,
    "singleAttributePerLine": false
}